# code_snippet apply-changes start yaml
---
platform: linux

inputs:
- name: env # contains the env file with target OpsMan Information

params:
  ENV_FILE: env.yml
  # - Filepath of the env config YAML
  # - The path is relative to root of the `env` input

run:
  path: bash
  args:
  - "-c"
  - |
    p-automator -v
    set -eux
    om --env env/"${ENV_FILE}" apply-changes
# code_snippet apply-changes end
